includes:
	- phpstan-baseline.neon

parameters:
	checkMissingIterableValueType: false

	doctrine:
		objectManagerLoader: config/object-manager.php

	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- Ergebnis\FactoryBot\Definition\AbstractDefinition
				- Ergebnis\FactoryBot\Test\Integration\AbstractTestCase
				- Ergebnis\FactoryBot\Test\Unit\AbstractTestCase
				- Example\Test\Unit\AbstractTestCase
				- Faker\Generator
				- InvalidArgumentException
				- RuntimeException
	inferPrivatePropertyTypeFromConstructor: true

	level: max

	paths:
		- config/
		- example/
		- src/
		- test/
		- bin/console
		- .php-cs-fixer.php
		- rector.php

	tmpDir: .build/phpstan/
