parameters:
	ignoreErrors:
		-
			message: "#^Method Example\\\\Entity\\\\Organization\\:\\:url\\(\\) has a nullable return type declaration\\.$#"
			count: 1
			path: example/src/Entity/Organization.php

		-
			message: "#^Constructor in Example\\\\Entity\\\\Repository has parameter \\$codeOfConduct with default value\\.$#"
			count: 1
			path: example/src/Entity/Repository.php

		-
			message: "#^Constructor in Example\\\\Entity\\\\Repository has parameter \\$template with default value\\.$#"
			count: 1
			path: example/src/Entity/Repository.php

		-
			message: "#^Method Example\\\\Entity\\\\Repository\\:\\:__construct\\(\\) has parameter \\$codeOfConduct with a nullable type declaration\\.$#"
			count: 1
			path: example/src/Entity/Repository.php

		-
			message: "#^Method Example\\\\Entity\\\\Repository\\:\\:__construct\\(\\) has parameter \\$codeOfConduct with null as default value\\.$#"
			count: 1
			path: example/src/Entity/Repository.php

		-
			message: "#^Method Example\\\\Entity\\\\Repository\\:\\:__construct\\(\\) has parameter \\$template with a nullable type declaration\\.$#"
			count: 1
			path: example/src/Entity/Repository.php

		-
			message: "#^Method Example\\\\Entity\\\\Repository\\:\\:__construct\\(\\) has parameter \\$template with null as default value\\.$#"
			count: 1
			path: example/src/Entity/Repository.php

		-
			message: "#^Method Example\\\\Entity\\\\Repository\\:\\:codeOfConduct\\(\\) has a nullable return type declaration\\.$#"
			count: 1
			path: example/src/Entity/Repository.php

		-
			message: "#^Method Example\\\\Entity\\\\Repository\\:\\:template\\(\\) has a nullable return type declaration\\.$#"
			count: 1
			path: example/src/Entity/Repository.php

		-
			message: "#^Constructor in Example\\\\Entity\\\\User has parameter \\$location with default value\\.$#"
			count: 1
			path: example/src/Entity/User.php

		-
			message: "#^Method Example\\\\Entity\\\\User\\:\\:__construct\\(\\) has parameter \\$location with a nullable type declaration\\.$#"
			count: 1
			path: example/src/Entity/User.php

		-
			message: "#^Method Example\\\\Entity\\\\User\\:\\:__construct\\(\\) has parameter \\$location with null as default value\\.$#"
			count: 1
			path: example/src/Entity/User.php

		-
			message: "#^Method Example\\\\Entity\\\\User\\:\\:location\\(\\) has a nullable return type declaration\\.$#"
			count: 1
			path: example/src/Entity/User.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertIsArray\\(\\) with array\\<string, non\\-falsy\\-string\\> will always evaluate to true\\.$#"
			count: 1
			path: example/test/AutoReview/FixtureTest.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: example/test/AutoReview/FixtureTest.php

		-
			message: "#^Instanceof between Ergebnis\\\\FactoryBot\\\\FieldDefinition\\\\Resolvable and Ergebnis\\\\FactoryBot\\\\FieldDefinition\\\\Resolvable will always evaluate to true\\.$#"
			count: 1
			path: src/EntityDefinition.php

		-
			message: "#^Strict comparison using \\!\\=\\= between array\\{\\} and array\\{\\} will always evaluate to false\\.$#"
			count: 1
			path: src/EntityDefinition.php

		-
			message: "#^Constructor in Ergebnis\\\\FactoryBot\\\\FieldDefinition\\\\Reference has parameter \\$fieldDefinitionOverrides with default value\\.$#"
			count: 1
			path: src/FieldDefinition/Reference.php

		-
			message: "#^Constructor in Ergebnis\\\\FactoryBot\\\\FieldDefinition\\\\References has parameter \\$fieldDefinitionOverrides with default value\\.$#"
			count: 1
			path: src/FieldDefinition/References.php

		-
			message: "#^Dead catch \\- ReflectionException is never thrown in the try block\\.$#"
			count: 1
			path: src/FixtureFactory.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\FixtureFactory\\:\\:collectionFrom\\(\\) return type with generic class Doctrine\\\\Common\\\\Collections\\\\ArrayCollection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/FixtureFactory.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\FixtureFactory\\:\\:define\\(\\) has parameter \\$afterCreate with a nullable type declaration\\.$#"
			count: 1
			path: src/FixtureFactory.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\FixtureFactory\\:\\:define\\(\\) has parameter \\$afterCreate with null as default value\\.$#"
			count: 1
			path: src/FixtureFactory.php

		-
			message: "#^Parameter \\#1 \\$entity of method Ergebnis\\\\FactoryBot\\\\FixtureFactory\\:\\:setField\\(\\) expects object, T given\\.$#"
			count: 1
			path: src/FixtureFactory.php

		-
			message: "#^Parameter \\#1 \\$object of method Doctrine\\\\Persistence\\\\ObjectManager\\:\\:persist\\(\\) expects object, T given\\.$#"
			count: 1
			path: src/FixtureFactory.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\DataProvider\\\\IntProvider\\:\\:faker\\(\\) is protected, but since the containing class is final, it can be private\\.$#"
			count: 1
			path: test/DataProvider/IntProvider.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\DataProvider\\\\ValueProvider\\:\\:faker\\(\\) is protected, but since the containing class is final, it can be private\\.$#"
			count: 1
			path: test/DataProvider/ValueProvider.php

		-
			message: "#^PHPDoc tag @return contains unresolvable type\\.$#"
			count: 1
			path: test/DataProvider/ValueProvider.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\Double\\\\Faker\\\\FalseGenerator\\:\\:boolean\\(\\) has parameter \\$chanceOfGettingTrue with no type specified\\.$#"
			count: 1
			path: test/Double/Faker/FalseGenerator.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\Double\\\\Faker\\\\FalseGenerator\\:\\:numberBetween\\(\\) has parameter \\$max with no type specified\\.$#"
			count: 1
			path: test/Double/Faker/FalseGenerator.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\Double\\\\Faker\\\\FalseGenerator\\:\\:numberBetween\\(\\) has parameter \\$min with no type specified\\.$#"
			count: 1
			path: test/Double/Faker/FalseGenerator.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\Double\\\\Faker\\\\MaximumGenerator\\:\\:numberBetween\\(\\) has parameter \\$max with no type specified\\.$#"
			count: 1
			path: test/Double/Faker/MaximumGenerator.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\Double\\\\Faker\\\\MaximumGenerator\\:\\:numberBetween\\(\\) has parameter \\$min with no type specified\\.$#"
			count: 1
			path: test/Double/Faker/MaximumGenerator.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\Double\\\\Faker\\\\MinimumGenerator\\:\\:numberBetween\\(\\) has parameter \\$max with no type specified\\.$#"
			count: 1
			path: test/Double/Faker/MinimumGenerator.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\Double\\\\Faker\\\\MinimumGenerator\\:\\:numberBetween\\(\\) has parameter \\$min with no type specified\\.$#"
			count: 1
			path: test/Double/Faker/MinimumGenerator.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\Double\\\\Faker\\\\TrueGenerator\\:\\:boolean\\(\\) has parameter \\$chanceOfGettingTrue with no type specified\\.$#"
			count: 1
			path: test/Double/Faker/TrueGenerator.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\Double\\\\Faker\\\\TrueGenerator\\:\\:numberBetween\\(\\) has parameter \\$max with no type specified\\.$#"
			count: 1
			path: test/Double/Faker/TrueGenerator.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\Double\\\\Faker\\\\TrueGenerator\\:\\:numberBetween\\(\\) has parameter \\$min with no type specified\\.$#"
			count: 1
			path: test/Double/Faker/TrueGenerator.php

		-
			message: "#^Class Ergebnis\\\\FactoryBot\\\\Test\\\\Integration\\\\EntityDefinition not found\\.$#"
			count: 1
			path: test/Integration/FixtureFactoryTest.php

		-
			message: "#^Class Ergebnis\\\\FactoryBot\\\\Test\\\\Integration\\\\Strategy\\\\DefaultStrategy not found\\.$#"
			count: 1
			path: test/Integration/FixtureFactoryTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Count' and Ergebnis\\\\FactoryBot\\\\Count will always evaluate to true\\.$#"
			count: 2
			path: test/Unit/CountTest.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\CountTest\\:\\:faker\\(\\) is protected, but since the containing class is final, it can be private\\.$#"
			count: 1
			path: test/Unit/CountTest.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\EntityDefinitionTest\\:\\:faker\\(\\) is protected, but since the containing class is final, it can be private\\.$#"
			count: 1
			path: test/Unit/EntityDefinitionTest.php

		-
			message: "#^Parameter \\#2 \\$fieldDefinitions of class Ergebnis\\\\FactoryBot\\\\EntityDefinition constructor expects array\\<string, Ergebnis\\\\FactoryBot\\\\FieldDefinition\\\\Resolvable\\>, array\\<string, mixed\\> given\\.$#"
			count: 1
			path: test/Unit/EntityDefinitionTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\ClassMetadataNotFound' and Ergebnis\\\\FactoryBot\\\\Exception\\\\ClassMetadataNotFound will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/ClassMetadataNotFoundTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\Exception' and Ergebnis\\\\FactoryBot\\\\Exception\\\\ClassMetadataNotFound will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/ClassMetadataNotFoundTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'RuntimeException' and Ergebnis\\\\FactoryBot\\\\Exception\\\\ClassMetadataNotFound will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/ClassMetadataNotFoundTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\ClassNotFound' and Ergebnis\\\\FactoryBot\\\\Exception\\\\ClassNotFound will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/ClassNotFoundTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\Exception' and Ergebnis\\\\FactoryBot\\\\Exception\\\\ClassNotFound will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/ClassNotFoundTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'InvalidArgumentException' and Ergebnis\\\\FactoryBot\\\\Exception\\\\ClassNotFound will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/ClassNotFoundTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\EntityDefinitionAlreadyRegistered' and Ergebnis\\\\FactoryBot\\\\Exception\\\\EntityDefinitionAlreadyRegistered will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/EntityDefinitionAlreadyRegisteredTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\Exception' and Ergebnis\\\\FactoryBot\\\\Exception\\\\EntityDefinitionAlreadyRegistered will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/EntityDefinitionAlreadyRegisteredTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'RuntimeException' and Ergebnis\\\\FactoryBot\\\\Exception\\\\EntityDefinitionAlreadyRegistered will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/EntityDefinitionAlreadyRegisteredTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\EntityDefinitionNotRegistered' and Ergebnis\\\\FactoryBot\\\\Exception\\\\EntityDefinitionNotRegistered will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/EntityDefinitionNotRegisteredTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\Exception' and Ergebnis\\\\FactoryBot\\\\Exception\\\\EntityDefinitionNotRegistered will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/EntityDefinitionNotRegisteredTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'RuntimeException' and Ergebnis\\\\FactoryBot\\\\Exception\\\\EntityDefinitionNotRegistered will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/EntityDefinitionNotRegisteredTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\Exception' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidCount will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidCountTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\InvalidCount' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidCount will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidCountTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'InvalidArgumentException' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidCount will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidCountTest.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\Exception\\\\InvalidCountTest\\:\\:faker\\(\\) is protected, but since the containing class is final, it can be private\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidCountTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\Exception' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidDefinition will always evaluate to true\\.$#"
			count: 3
			path: test/Unit/Exception/InvalidDefinitionTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\InvalidDefinition' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidDefinition will always evaluate to true\\.$#"
			count: 3
			path: test/Unit/Exception/InvalidDefinitionTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'RuntimeException' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidDefinition will always evaluate to true\\.$#"
			count: 3
			path: test/Unit/Exception/InvalidDefinitionTest.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\Exception\\\\InvalidDefinitionTest\\:\\:faker\\(\\) is protected, but since the containing class is final, it can be private\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidDefinitionTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\Exception' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidDirectory will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidDirectoryTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\InvalidDirectory' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidDirectory will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidDirectoryTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'InvalidArgumentException' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidDirectory will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidDirectoryTest.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\Exception\\\\InvalidDirectoryTest\\:\\:faker\\(\\) is protected, but since the containing class is final, it can be private\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidDirectoryTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\Exception' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidFieldDefinitions will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidFieldDefinitionsTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\InvalidFieldDefinitions' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidFieldDefinitions will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidFieldDefinitionsTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'InvalidArgumentException' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidFieldDefinitions will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidFieldDefinitionsTest.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\Exception\\\\InvalidFieldDefinitionsTest\\:\\:faker\\(\\) is protected, but since the containing class is final, it can be private\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidFieldDefinitionsTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\Exception' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidFieldNames will always evaluate to true\\.$#"
			count: 2
			path: test/Unit/Exception/InvalidFieldNamesTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\InvalidFieldNames' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidFieldNames will always evaluate to true\\.$#"
			count: 2
			path: test/Unit/Exception/InvalidFieldNamesTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'InvalidArgumentException' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidFieldNames will always evaluate to true\\.$#"
			count: 2
			path: test/Unit/Exception/InvalidFieldNamesTest.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\Exception\\\\InvalidFieldNamesTest\\:\\:faker\\(\\) is protected, but since the containing class is final, it can be private\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidFieldNamesTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\Exception' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidMaximum will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidMaximumTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\InvalidMaximum' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidMaximum will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidMaximumTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'InvalidArgumentException' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidMaximum will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidMaximumTest.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\Exception\\\\InvalidMaximumTest\\:\\:faker\\(\\) is protected, but since the containing class is final, it can be private\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidMaximumTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\Exception' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidMinimum will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidMinimumTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\InvalidMinimum' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidMinimum will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidMinimumTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'InvalidArgumentException' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidMinimum will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidMinimumTest.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\Exception\\\\InvalidMinimumTest\\:\\:faker\\(\\) is protected, but since the containing class is final, it can be private\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidMinimumTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\Exception' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidSequence will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidSequenceTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\Exception\\\\\\\\InvalidSequence' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidSequence will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidSequenceTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'InvalidArgumentException' and Ergebnis\\\\FactoryBot\\\\Exception\\\\InvalidSequence will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidSequenceTest.php

		-
			message: "#^Method Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\Exception\\\\InvalidSequenceTest\\:\\:faker\\(\\) is protected, but since the containing class is final, it can be private\\.$#"
			count: 1
			path: test/Unit/Exception/InvalidSequenceTest.php

		-
			message: "#^Class Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\FieldDefinition\\\\EntityDefinition not found\\.$#"
			count: 1
			path: test/Unit/FieldDefinition/OptionalTest.php

		-
			message: "#^Class Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\FieldDefinition\\\\Strategy\\\\DefaultStrategy not found\\.$#"
			count: 1
			path: test/Unit/FieldDefinition/OptionalTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Example\\\\\\\\Entity\\\\\\\\User' and Example\\\\Entity\\\\User will always evaluate to true\\.$#"
			count: 2
			path: test/Unit/FieldDefinition/ReferenceTest.php

		-
			message: "#^Class Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\FieldDefinition\\\\EntityDefinition not found\\.$#"
			count: 1
			path: test/Unit/FieldDefinition/ReferenceTest.php

		-
			message: "#^Class Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\FieldDefinition\\\\Strategy\\\\DefaultStrategy not found\\.$#"
			count: 1
			path: test/Unit/FieldDefinition/ReferenceTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertIsArray\\(\\) with array\\<int, Example\\\\Entity\\\\User\\> will always evaluate to true\\.$#"
			count: 2
			path: test/Unit/FieldDefinition/ReferencesTest.php

		-
			message: "#^Class Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\FieldDefinition\\\\EntityDefinition not found\\.$#"
			count: 1
			path: test/Unit/FieldDefinition/ReferencesTest.php

		-
			message: "#^Class Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\FieldDefinition\\\\Exception\\\\InvalidCount not found\\.$#"
			count: 1
			path: test/Unit/FieldDefinition/ReferencesTest.php

		-
			message: "#^Class Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\FieldDefinition\\\\Strategy\\\\DefaultStrategy not found\\.$#"
			count: 1
			path: test/Unit/FieldDefinition/ReferencesTest.php

		-
			message: "#^Class Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\FieldDefinition\\\\EntityDefinition not found\\.$#"
			count: 1
			path: test/Unit/FieldDefinition/ValueTest.php

		-
			message: "#^Class Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\FixtureFactory\\\\EntityDefinition not found\\.$#"
			count: 1
			path: test/Unit/FixtureFactory/UsingDefaultStrategyTest.php

		-
			message: "#^Class Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\FixtureFactory\\\\Strategy\\\\DefaultStrategy not found\\.$#"
			count: 1
			path: test/Unit/FixtureFactory/UsingDefaultStrategyTest.php

		-
			message: "#^Class Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\FixtureFactory\\\\EntityDefinition not found\\.$#"
			count: 1
			path: test/Unit/FixtureFactory/UsingWithOptionalStrategyTest.php

		-
			message: "#^Class Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\FixtureFactory\\\\Strategy\\\\DefaultStrategy not found\\.$#"
			count: 1
			path: test/Unit/FixtureFactory/UsingWithOptionalStrategyTest.php

		-
			message: "#^Class Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\FixtureFactory\\\\Strategy\\\\WithOptionalStrategy not found\\.$#"
			count: 1
			path: test/Unit/FixtureFactory/UsingWithOptionalStrategyTest.php

		-
			message: "#^Class Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\FixtureFactory\\\\EntityDefinition not found\\.$#"
			count: 1
			path: test/Unit/FixtureFactory/UsingWithoutOptionalStrategyTest.php

		-
			message: "#^Class Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\FixtureFactory\\\\Strategy\\\\DefaultStrategy not found\\.$#"
			count: 1
			path: test/Unit/FixtureFactory/UsingWithoutOptionalStrategyTest.php

		-
			message: "#^Class Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\FixtureFactory\\\\Strategy\\\\WithoutOptionalStrategy not found\\.$#"
			count: 1
			path: test/Unit/FixtureFactory/UsingWithoutOptionalStrategyTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Ergebnis\\\\\\\\FactoryBot\\\\\\\\FixtureFactory' and Ergebnis\\\\FactoryBot\\\\FixtureFactory will always evaluate to true\\.$#"
			count: 3
			path: test/Unit/FixtureFactoryTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Example\\\\\\\\Entity\\\\\\\\Organization' and Example\\\\Entity\\\\Organization will always evaluate to true\\.$#"
			count: 3
			path: test/Unit/FixtureFactoryTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Example\\\\\\\\Entity\\\\\\\\Project' and Example\\\\Entity\\\\Project will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/FixtureFactoryTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Example\\\\\\\\Entity\\\\\\\\Repository' and Example\\\\Entity\\\\Repository will always evaluate to true\\.$#"
			count: 3
			path: test/Unit/FixtureFactoryTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Example\\\\\\\\Entity\\\\\\\\User' and Example\\\\Entity\\\\User will always evaluate to true\\.$#"
			count: 3
			path: test/Unit/FixtureFactoryTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertNotNull\\(\\) with Example\\\\Entity\\\\Organization will always evaluate to true\\.$#"
			count: 2
			path: test/Unit/FixtureFactoryTest.php

		-
			message: "#^Class Ergebnis\\\\FactoryBot\\\\Test\\\\Unit\\\\Strategy\\\\DefaultStrategy not found\\.$#"
			count: 1
			path: test/Unit/FixtureFactoryTest.php

		-
			message: "#^Parameter \\#1 \\$className of method Ergebnis\\\\FactoryBot\\\\FixtureFactory\\:\\:define\\(\\) expects class\\-string\\<NotAClass\\>, string given\\.$#"
			count: 1
			path: test/Unit/FixtureFactoryTest.php

